* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* form {
    display: flex;
} */


.left_main {
    height: 100vh;
    flex-shrink: 1;
    display: flex;
    flex: 1;

}

.right_main {
    height: 100vh;
    display: flex;
    flex: 2;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: crimson; */
}

.dummyText {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: left;
    background-color: bisque;
    padding: .5rem;
    margin: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-wrap: wrap;
    margin: .5rem;
    padding: .5rem;
}
.input {
   display: flex;
   flex-direction: column;
   margin: .5rem ;
   padding: .5rem;
}



.container_banner{
    display: flex;

}
.container_input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.submit1{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin: .25rem ;
    padding: .5rem;
}

.footer {
    display: flex;
    flex: 1;
    height: 30%;
    background-color: coral;
}